* {
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
}

html {
/* 1rem = 10px */
  font-size: 62.5%;
  height: 100%
}

body {
  font-size: 2rem;
  font-family: 'Raleway';
}

/* Navigation Bar Styling */
.navigation {
  /* padding-top: 25px; */
  padding-bottom: 40px;
}

.navBar {
  list-style: none;
  padding: 0;
}
.navList {
  display: inline-block;
  float: left;
}

.navList a {
  text-decoration: none;
  color:#109C7B;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  padding: 20px;
}

.navList a:hover, a:active {
  color:#e1a123;
}

/* Responsive layout - when the screen is less than 700px wide, make each nav item stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .navBar a {
    float: none;
    display: block;
  }
}

/* Main H1 Header */
.mainHeader {
  text-align: center; 
  color: black;
  font-family: 'Raleway';
  font-size: 5.7rem;
  padding: 40px 0px 15px;
}

.mainSectionContainer{
  margin: auto;
  max-width: 60%;
  padding: 5px;
  text-align: center;
  /* height: 100%;
  overflow: scroll; */
}

.mainImage {
  max-width: 400px;
  max-height: 320px;
  border-radius: 50%;
  justify-content: center;
}

.mainParagraph {
  padding-top: 10px;
}

/* Footer Styling */
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 1.5rem;
}

